# VSCode
.vscode/*  
**/.history

# CMake
CMakeFiles/
_deps/
build/**
Temporary/
Makefile
*.cmake

# Prerequisites
*.d
temp/

# Ignore all files without extension
*
!*/
!*.*

# Ignore Hidden Files
.*
!/.gitignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app